* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}
button1 {
    font-family: inherit;
}
/* Шапка */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    color: rgb(31, 31, 31);
    
}
.header-left {
    display: flex;
    align-items: center;
}
.logo {
    height: 50px;
    margin-right: 20px;
}
.menu {
    display: flex;
    gap: 15px; 
}
.menu a {
    margin: 0 20px;
    text-decoration: none;
    color:rgb(31, 31, 31);
}
.menu a[href="Services.html"] {
    background-color: #b9ff66;
    padding: 2px;
    border-radius: 4px;
    font-weight: bold;
}
.request {
    padding: 10px 25px;
    border: 1px solid black;           
    border-radius: 5px;
    background-color: white; 
    cursor: pointer;
    transition: 0.3s;
    font-family: "Arial", sans-serif;
    font-size: 1em;
}

/* -----expert----- */

.expert {
    display: flex;
    flex-wrap: wrap;
    background-color: #f3f3f3;
    border-radius: 30px;
    overflow: hidden; /* чтобы картинка не выходила за границы */
    padding: 30px; /* общий внутренний отступ */
}
.expert-text {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 30px;
    text-align: left; 
    gap: 20px;
    max-width: 85%; /* немного сужаем текстовый блок */      
}
.expert-text h1 {
    font-size: 2.5em;
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
}
.expert-text p {
    margin: 0;
    line-height: 1.6;
}
/* Блок с картинкой */
.expert-img {
    flex: 1 1 50%;
    padding: 0 30px 0 0; /* отступ справа от картинки */
    display: flex;
    justify-content: center;
    align-items: center;
}
.expert-img img {
    width: 90%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}
/* ---кнопка back---*/
.back-button {
  margin: 40px auto 0 40px;
  display: inline-block; /* оставляем компактной */
}

.back-button a {
  display: flex;              /* делаем flex-контейнер чтобы выровнять элементы по центру */
  align-items: center;        /* вертикальное выравнивание по центру */
  gap: 8px;                   /* расстояние между иконкой и текстом */
  text-decoration: none;
  color: black;
  font-size: 1em;
}

.back-button img {
  width: 30px;
  height: auto;
}

/* -- search engine -- */
.search-engine {
    display: flex;
    align-items: center;
    margin: 50px 0;
    background-color: #191a23;  
    border-radius: 30px; 
}
.search-engine-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin: 50px 30px;
    gap: 30px;
}
.search-engine-img  img{
    width: 200%;
}
.search-engine-h3 {
    font-family: "Space Grotesk", sans-serif;
    margin-left: 30px;
}
.search-engine-h3 h3 {
    display: inline;                     /* фон идёт за каждой строкой текста */
    background-color: #b9ff66;           /* зелёный маркер */
    box-decoration-break: clone;         /*  позволяет фону "продолжаться" на каждой строке */
    padding: 3px 6px;                    /* лёгкий отступ вокруг текста */
    border-radius: 6px;                  /* плавные края */
    color: black;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.2em;
    line-height: 1.4;
}   
.search-engine-text {
    color: white;
    max-width: 700px;
    margin: 0 30px 0 20px;
    display: flex;   /* чтобы кнопка была справа */
    flex-direction: column; /* чтобы текст был сверху */
    align-items: flex-start; /* выравнивание по левому краю */
}
.search-engine-text p {
    padding: 0 0 20px 0;
    font-size: 0.9em;
    line-height: 1.5;
    margin: 0;
}
.learn-more {
    width: 100%;
    padding:  10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #f3f3f3;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
}
.learn-more button {
    background-color: #f3f3f3;
    color: black;
    text-align: center;
}
.learn-more:hover {
  background-color: #b9ff66;
}

/* heading */
.heading {
    text-align: center;
    margin: 40px 0 20px 0;
    display: flex;
    gap: 20px;
}
.heading-h2{
    display: inline-block;
    background-color: #b9ff66;
    border: 1px solid #b9ff66;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: "Space Grotesk", sans-serif;
}
.heading-h2 h2{
    margin: 0;
    white-space: nowrap; /*  не переносит текст */
}
.heading p {
    font-size: 0.9em;
    font-family: "Arial", sans-serif;
    width: 75%;
    text-align: justify;
    margin: 0;
}

/* ---- seo процесс ---- */
.seo-process {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.seo-process-container {
  width: 100%;
}
.seo-process-step {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f3f3f3;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 30px 0;
}
.seo-process-img {
    position: relative; 
}
.seo-process-img img {
    width: 90%;
}
.seo-step-number {
    position: absolute;
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Точное центрирование */
    color: #b9ff66; /* Цвет текста */
    padding: 10px; /* Отступы внутри текстового блока */
    font-size: 2em; /* Размер шрифта */
    font-family: "Space Grotesk", sans-serif;;
}
.seo-process-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    margin-left: 100px;
}
.seo-process-text h3 {
    margin:  0;
    font-size: 1.3em;
    font-family: "Space Grotesk", sans-serif;
}
.seo-process-text p {
    text-align: start;
    font-size: 0.9em;
    line-height: 1.5;
    margin: 0;
}

/*---use cases---*/
.case-solutions {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #191A23;
  border-radius: 20px;
  padding: 60px 40px;
  color: white;
  gap: 0; /* убираем промежутки между колонками — всё решим бордером */
  margin-bottom: 80px;
}

.case {
    flex: 1; /* каждая колонка равной ширины */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 30px;
  text-align: left;
  gap: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.3); /* вертикальная разделительная линия */
}

.case:last-child {
  border-right: none;
}
.learn-more {
    align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
  background-color: transparent;
  color: #b9ff66;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Arial", sans-serif;
  box-shadow: none;       /* убираем внешнюю тень */
  outline: none;          /* убираем рамку при фокусе */
  border: none;           /* если не нужна рамка — можно убрать */
}

.learn-more img {
  width: 30px;
  height: 30px;
}

/* карточки service */
.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 колонки одинаковой ширины */
  grid-template-rows: repeat(3, auto);   /* 3 ряда */
  gap: 30px; /* расстояние между карточками */
  margin: 40px 0; /* отступ сверху и снизу */
}

.services > div { /* стили для каждой карточки */
    border-top: 1px solid black;
    border-bottom: 5px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    display: flex;       
    align-items: stretch;
}
.services-text {
    margin: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* h3 сверху, кнопка снизу */
}

.services-text button {
    align-self: flex-start; 
}
.services-gray {
    background-color: #f3f3f3;
}

.services-gray h3 {
    
  background-color: #f3f3f3; /*цвет плашки */
  padding: 2px 8px;
  border-radius: 8px;
  margin: 0 0 10px 0; /* отступ снизу, чтобы не прилипал к кнопке */
  font-family: "Space Grotesk", sans-serif;
  display: inline-block; /* чтобы фон был по ширине текста */
  line-height: 1;
}

button.sb1 {
  display: flex;              /* делаем flex-контейнер */
  align-items: center;        /* выравниваем элементы по вертикали */
  gap: 8px;                   /* расстояние между иконкой и текстом */
  cursor: pointer;
  font-family: inherit;

}

button.sb img {
  display: inline-block;
  width: 35px; 
  height: 35px;
}
.sb {
    background-color: inherit;
    border: 0;
}

/* -- start SEO journey -- */
.start {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 60px 0;
    padding: 0 0 20px 0;
}
.start-container {
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    border-bottom: 5px solid black;
    padding: 20px 40px;
    gap: 20px;
}
.start-text {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
}
.start-text h2 {
    font-family: "Space Grotesk", sans-serif;
    margin: 0 0 20px 0;
}
.start-text hr {
    width: 100%;
    border: 1px solid grey;
    margin: 10px 0;
}
.start-text p {
    font-size: 0.9em;
    margin: 20px 0;
}
.start-button {
    width: 100%;
    height: 40px;
    background-color: #b9ff66;
    align-items: center;
    border-radius: 5px;
    border: none;
}
.start-button:hover {
    background-color: #f3f3f3;
    cursor: pointer;
}
.start-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-img img {
    width: 100%;  
}

/* footer */

.footer {
  background-color: #191A23;
  color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  font-family: "Space Grotesk", sans-serif;
  overflow: hidden;
}
.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}
.footer-logo  img {
  height: 30px;
}
.footer-menu {
  display: flex;
    gap: 25px;
}
.footer-menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.footer-menu a:hover {
  text-decoration: underline;
}
.footer-social-seti a img {
  height: 24px;
  margin-left: 15px;
  transition: transform 0.3s;
}
.footer-social-seti a:hover img {
  transform: scale(1.1);
}
.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  flex-wrap: wrap;
  gap: 30px;
}
.contact {
  max-width: 40%;
}
.contact h3 {
  margin-bottom: 15px;
  background-color: #b9ff66;
  color:#191a23;
  padding: 2px;
  border-radius: 5px;
  max-width: 30%;
}
.contact p {
  width: 70%;
  margin: 15px 0;
}
.subscribe {
  max-width: 55%;
  background-color: #26272F;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 60px 30px;
  flex: 1;
}
.subscribe input {
  background-color: inherit;
  padding: 10px 15px;
  border-radius: 8px;
  border: 2px solid #f3f3f3;
  outline: none;
  font-size: 1rem;
  flex: 1;
}
.subscribe-button {
  width: 150px;
  height: 41px;
  background-color: #B9FF66;
  color: #191A23;
  border: none;
  border-radius: 8px;
  padding: 8px 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1;
}
.subscribe-button:hover {
  background-color: #f3f3f3;
}
.footer hr {
  width: 90%;
  height: 1px;
  margin: 20px 60px; 
  background-color: grey; /* цвет линии */
  opacity: 0.6;
}
.footer-bottom {
  text-align: left;
  padding: 25px 60px;
  font-size: 0.9rem;
}
.footer-bottom a {
  color: white;
  padding: 25px 60px;
}
.footer-bottom a:hover {
  text-decoration: underline;
}
/* ----- Гамбургер меню ----- */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  user-select: none;
}


/*---------- адаптив --------*/
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .menu {
    display: none;    /* скрываем меню */
    flex-direction: column;
    position: absolute;
    top: 80px;      /* ниже шапки */
    left: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    z-index: 1000;
  }

  .menu a {
    margin: 0;
    font-size: 1.1em;
  }

  .menu.active {
    display: flex; /* показываем меню при активации */
  }

  .hamburger {
    display: block;  /* показываем иконку */
  }

  .request {
    display: none;  /* кнопку убираем, чтобы не мешала */
  }

  header {
    position: relative;           
  }
  
