* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}
button {
    font-family: inherit;
}
/* Шапка */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    color: rgb(31, 31, 31);
    
}
.header-left {
    display: flex;
    align-items: center;
}
.logo {
    height: 50px;
    margin-right: 20px;
}
.menu {
    display: flex;
    gap: 15px; 
}
.menu a {
    margin: 0 20px;
    text-decoration: none;
    color:rgb(31, 31, 31);
}
.menu a[href="Use Cases.html"] {
    background-color: #b9ff66;
    padding: 2px;
    border-radius: 4px;
    font-weight: bold;
}
.request {
    padding: 10px 25px;
    border: 1px solid black;           
    border-radius: 5px;
    background-color: white; 
    cursor: pointer;
    transition: 0.3s;
    font-family: "Arial", sans-serif;
    font-size: 1em;
}

/* -----expert----- */

.expert {
    display: flex;
    flex-wrap: wrap;
    background-color: #f3f3f3;
    border-radius: 30px;
    overflow: hidden; /* чтобы картинка не выходила за границы */
    padding: 30px; /* общий внутренний отступ */
}
.expert-text {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 30px;
    text-align: left; 
    gap: 20px;
    max-width: 85%; /* немного сужаем текстовый блок */      
}
.expert-text h1 {
    font-size: 2.5em;
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
}
.expert-text p {
    width: 75%;
    margin: 0;
    line-height: 1.6;
}
/* Блок с картинкой */
.expert-img {
    flex: 1 1 50%;
    padding: 0 30px 0 0; /* отступ справа от картинки */
    display: flex;
    justify-content: center;
    align-items: center;
}
.expert-img img {
    width: 90%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}
/* ---кнопка back---*/
.back-button {
  margin: 40px auto 0 40px;
  display: inline-block; /* оставляем компактной */
}

.back-button a {
  display: flex;              /* делаем flex-контейнер чтобы выровнять элементы по центру */
  align-items: center;        /* вертикальное выравнивание по центру */
  gap: 8px;                   /* расстояние между иконкой и текстом */
  text-decoration: none;
  color: black;
  font-size: 1em;
}

.back-button img {
  width: 30px;
  height: auto;
}
.back-button img:hover {
    transform: scale(1.1);
}

/* <!-- success story --> */
.success-story {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 30px;
    background-color: #191a23;
    border-radius: 30px;
    color: white;
    margin: 50px 0;
}
.success-container {
    flex: 1 1 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 0 30px;
    text-align: left; 
    gap: 20px;
}
.success-text {
    width: 75%;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 30px 0 ;
    text-align: left; 
    gap: 20px;
}
.success-text h2 {
    display: inline;                     /* фон идёт за каждой строкой текста */
    background-color: #b9ff66;           /* зелёный маркер */
    box-decoration-break: clone;         /*  позволяет фону "продолжаться" на каждой строке */
    padding: 3px 6px;                    /* лёгкий отступ вокруг текста */
    border-radius: 6px;                  /* плавные края */
    color: black;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.5em;
    margin: 0;
}
.success-text h3 {
    font-size: 1.3em;
    width: 75%;
}
.success-text p{
    width:75%;
}
.sb {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #191a23;
    color: #b9ff66;
    border: none;
}
.sb img {
    max-width: 45px;
}
.sb img:hover {
    transform: scale(1.1);
}
.success-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 15px;
}
.card {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    border-radius: 10px;
    border: none;
    color: black;
    max-width: 150px;
    max-height: 150px;
    padding: 50px 20px;
}
.card h1 {
    margin: 0 0 20px 0;
}
.card p {
    text-align: center;
}

/* heading */
.heading {
    text-align: center;
    margin: 40px 0 20px 0;
    display: flex;
    gap: 20px;
}
.heading-h2{
    display: inline-block;
    background-color: #b9ff66;
    border: 1px solid #b9ff66;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: "Space Grotesk", sans-serif;
}
.heading-h2 h2{
    margin: 0;
    white-space: nowrap; /*  не переносит текст */
}
.heading p {
    font-size: 0.9em;
    font-family: "Arial", sans-serif;
    width: 75%;
    text-align: justify;
    margin: 0;
}

/* -- stories success -- */
.stories {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    
}
.stories-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    border: 1px solid black;
    border-radius: 30px;
    padding: 30px;
}
.stories-card {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
    padding: 20px 40px;
    margin: 0;
    width: 100%;
}
#c1, #c2 {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
#c3 {
    border-bottom: 1px solid black;
}
#c4, #c5 {
    border-right: 1px solid black;
}

.stories-card h3 {
    margin-bottom: 10px;
    font-size: 1.4em;
    padding: 10px 0;
}
.stories-card p{
    margin: 10px 0;
}
.stories-button {
    display: flex;              /* делаем flex-контейнер чтобы выровнять элементы по центру */
    align-items: center;        /* вертикальное выравнивание по центру */
    gap: 8px;                   /* расстояние между иконкой и текстом */
    text-decoration: none;
    background-color: white;
    border: none;
    width: auto;
    padding: 5px 0;
    white-space: nowrap;    /* запрещает перенос текста */
    cursor: pointer;   
}
.stories-button button {
    background-color: white;
}
.stories-button img {
    width: 3em;
}

/* карусель */
.feedback-carousel {
    background-color: #191A23;
    color: white;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    font-family: "Space Grotesk", sans-serif;
}

.carousel-container {
    position: relative;
    width: 90%;
    max-width: 900px;
    overflow: hidden;
}

input[type="radio"] {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    transition: transform 0.6s ease;
}

.slide {
    width: 20%;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
}

/* Пузырь */
.bubble {
    background: transparent;
    border: 2px solid #b9ff66;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
    position: relative;
}
.bubble::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #b9ff66 transparent transparent transparent;
}

/* Имя и должность */
.name {
    color: #b9ff66;
    font-weight: bold;
    margin: 0;
}
.role {
    margin: 5px 0 0;
    color: #ccc;
    font-size: 0.95rem;
}

/* Перемещение слайдов */
#s1:checked ~ .slides { transform: translateX(0%); }
#s2:checked ~ .slides { transform: translateX(-20%); }
#s3:checked ~ .slides { transform: translateX(-40%); }
#s4:checked ~ .slides { transform: translateX(-60%); }
#s5:checked ~ .slides { transform: translateX(-80%); }

/* Навигация-звезды */
.nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}
.star {
    width: 20px;
    height: 20px;
    background-image: url("Images/Images_Home/Vector white.png");
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.3s;
}
#s1:checked ~ .nav label:nth-child(1),
#s2:checked ~ .nav label:nth-child(2),
#s3:checked ~ .nav label:nth-child(3),
#s4:checked ~ .nav label:nth-child(4),
#s5:checked ~ .nav label:nth-child(5) {
    background-image: url("Images/Images_Home/Vector green.png");
}

/* Стрелки */
.arrows label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s;
}
.arrows label:hover {
    opacity: 1;
}
.prev { left: 20px; }
.next { right: 20px; }

/* Привязка стрелок к радиокнопкам */
#s1:checked ~ .arrows #p1,
#s2:checked ~ .arrows #p2,
#s3:checked ~ .arrows #p3,
#s4:checked ~ .arrows #p4,
#s5:checked ~ .arrows #p5 {
    display: block;
}

/* -- let's create --*/
 .create-container {
    background-color: #b9ff66;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
    gap: 20px;
    border-radius: 20px;
    overflow: visible; /* чтобы картинка могла выходить за границы */
    position: relative;
    padding: 40px 60px;
 }
 
 .create-text {
    flex: 1 1 45%; /* занимает 45% ширины контейнера */
    padding: 30px 50px 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: start;
 }
 .create-button {
    flex: 1 1 20%; /* занимает 20% ширины контейнера */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
 }
 .create-proposal {
    padding: 15px;
    border: 1px solid #191A23;         
    border-radius: 8px;
    background-color: #191A23;
    color: white; 
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: start; /* чтобы кнопка не растягивалась */
 }
    .create-proposal button:hover {
        background-color: white;
        color: black;
    }

    .create-img {
  flex: 1 1 40%;
  position: relative;
  display: flex;
  justify-content: center;
  
}

.proposal-img img {
  width: 85%;
  max-width: 350px;
  position: relative;
  bottom: -30px;  /* выступает вниз */
  top: -30px; 
  overflow: visible;
  transition: transform 0.3s ease;
}

/* footer */

.footer {
  background-color: #191A23;
  color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  font-family: "Space Grotesk", sans-serif;
  overflow: hidden;
}
.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}
.footer-logo  img {
  height: 30px;
}
.footer-menu {
  display: flex;
    gap: 25px;
}
.footer-menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.footer-menu a:hover {
  text-decoration: underline;
}
.footer-social-seti a img {
  height: 24px;
  margin-left: 15px;
  transition: transform 0.3s;
}
.footer-social-seti a:hover img {
  transform: scale(1.1);
}
.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  flex-wrap: wrap;
  gap: 30px;
}
.contact {
  max-width: 40%;
}
.contact h3 {
  margin-bottom: 15px;
  background-color: #b9ff66;
  color:#191a23;
  padding: 2px;
  border-radius: 5px;
  max-width: 30%;
}
.contact p {
  width: 70%;
  margin: 15px 0;
}
.subscribe {
  max-width: 55%;
  background-color: #26272F;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 60px 30px;
  flex: 1;
}
.subscribe input {
  background-color: inherit;
  padding: 10px 15px;
  border-radius: 8px;
  border: 2px solid #f3f3f3;
  outline: none;
  font-size: 1rem;
  flex: 1;
}
.subscribe-button {
  width: 150px;
  height: 41px;
  background-color: #B9FF66;
  color: #191A23;
  border: none;
  border-radius: 8px;
  padding: 8px 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1;
}
.subscribe-button:hover {
  background-color: #f3f3f3;
}
.footer hr {
  width: 90%;
  height: 1px;
  margin: 20px 60px; 
  background-color: grey; /* цвет линии */
  opacity: 0.6;
}
.footer-bottom {
  text-align: left;
  padding: 25px 60px;
  font-size: 0.9rem;
}
.footer-bottom a {
  color: white;
  padding: 25px 60px;
}
.footer-bottom a:hover {
  text-decoration: underline;
}

/* --- ГАМБУРГЕР --- */

.hamburger {
  display: none;
}
.menu-icon { /* три полоски */
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1001; 
}
.menu-icon span {
  display: block;
  height: 3px;
  background: black;
  border-radius: 2px;
  transition: all 0.3s ease;
}
#menu-toggle { /* чекбокс скрыт */
  display: none;
}
#menu-toggle:checked + .menu-icon span:nth-child(1) {
  transform: rotate(45deg) translateY(9px); /* при активации - превращается в крестик */
}
#menu-toggle:checked + .menu-icon span:nth-child(2) {
  opacity: 0;
}
#menu-toggle:checked + .menu-icon span:nth-child(3) {
  transform: rotate(-45deg) translateY(-9px);
}
/* ----- Гамбургер меню ----- */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  user-select: none;
}


/*---------- адаптив --------*/
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .menu {
    display: none;    /* скрываем меню */
    flex-direction: column;
    position: absolute;
    top: 80px;      /* ниже шапки */
    left: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    z-index: 1000;
  }

  .menu a {
    margin: 0;
    font-size: 1.1em;
  }

  .menu.active {
    display: flex; /* показываем меню при активации */
  }

  .hamburger {
    display: block;  /* показываем иконку */
  }

  .request {
    display: none;  /* кнопку убираем, чтобы не мешала */
  }

  header {
    position: relative;           
  }
  